:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
}

body {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 96px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: 150px;
}

h2 {
  font-size: 30px;

  line-height: 40px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

p {
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  margin: 50px;
}

.hero p {
  font-weight: bold;
  margin: 0;
  line-height: 2;
  color: #272142;
  font-size: 36px;
  line-height: 30px;
}

.hero .btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
