h1 {
  font-family: "Playfair Display", serif;
  font-size: 96px;
  font-weight: bold;
}

.hero {
  background: #f9f7fe;
  text-align: center;
}

p {
  font-size: 36px;
  font-family: "Raleway", sans-serif;
}
