:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
}

body {
  font-family: "Raleway", sans-serif;
}

.logo {
  max-height: 40px;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
  font-weight: bold;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav li.active a,
nav a:hover,
footer .email-link:hover,
footer a:hover {
  color: var(--branding-color);
}

h1,
h2,
h3 {
  font-weight: bold;
  font-family: "Playfair Display", serif;
}

p {
  font-size: 15px;
  line-height: 30px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 80px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
  line-height: 30px;
}

h1 {
  font-size: 96px;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 48px;
}

.hero h2 {
  font-size: 24px;

  font-weight: normal;
  line-height: 2;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-weight: bold;
}

.content p {
  font-size: 18px;
}

.content-container {
  padding: 60px 20px;
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
}

.content p {
  font-size: 14px;
}

.content {
  margin: 30px;
}

img {
  border-radius: 15px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  font-weight: bold;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: solid 1px var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  font-weight: bold;
}

.project-description {
  padding: 120px 60px;
}

footer {
  margin: 0 0 50px;
}

footer a {
  color: var(--branding-color);
}

footer .contact-box p {
  padding: 0;
  margin: 0;
}

footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px 120px;
  margin: 50px;
  border-radius: 10px;
}

footer .email-link {
  font-size: 24px;
  text-decoration: none;
  color: black;
  text-align: center;
  margin: 30px;
}

footer .social-links a {
  color: var(--branding-color);
  margin: 0 20px;
  background-color: var(--secondary-color);
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background-color: var(--branding-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 50px;
    line-height: 56px;
  }

  h2 {
    font-size: 44px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  nav a {
    font-size: 12px;
  }
}
